.forum-page {
  margin: 0 auto;
  margin-top: 40px;
  box-sizing: border-box;
  max-width: 1000px;
  background-color: #F0EAE6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: calc(100% - 40px);
}

.forum-page-header {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.forum-title {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.forum-main {
  position: relative;
  flex: 1;
  width: 100%;
  /*overflow-x: auto;
  overflow-y: visible;
  height: auto;
  box-sizing: border-box;*/
}

.forum-sidebar {
  min-width: 350px;
}

.forum-sidebar-container {
  margin-top: 40px;
  padding: 40px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.forum-label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forum-container {
  display: flex;
}

.forum-list-container {
  display: flex;
  flex-direction: column;
}

.forum-row-divider {
  width: 100%;
  background-color: #F0EAE6;
  height: 2px;
  box-sizing: border-box;
  width: calc(100% + 80px);
  margin-left: -40px;
}


.forum-list-container > ul {
  list-style-type: none;
}

.forum-list-container > ul > li {
  position: relative;
  color: black;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.forum-list-container > ul > li::before {
  content: '>';
  font-weight: bold;
  position: absolute;
  left: -20px;
  top: 0;
  padding-right: 10px; /* Space between arrow and text */
}

.forum-list-container > ul > li:hover {
  text-decoration: underline;
}

.post-container {
  margin-left: 40px;
  margin-right: 40px;
  height: 75px;
  display: flex;
}

.create-post-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.post-user-square {
  height: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.post-user-icon {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forum-message-divider {
  width: 100%;
  background-color: #D9CCC3;
  height: 2px;
  box-sizing: border-box;
}

.forum-post-row {
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.vertical-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

.forum-create-post-container {
  /*margin-left: 40px;
  margin-right: 40px;*/
  margin-bottom: 40px;
  font-size: 20px;
}

.expand {
  flex: 1;
}
.width-55 {
  width: 55px;
}
.width-150 {
  width: 150px;
}
.width-200 {
  width: 200px;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}

.button-create-post {
  background-color: black;
  color: white;
  border-radius: 30px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
}

.post-button {
  cursor: pointer;
  background-color: #80201A;
  border-radius: 50px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  width: fit-content;
  min-width: 150px;
  justify-content: center;
}