.main-region {
    width: 100%;
    display: flex;
}

.main-left {
    flex: 11 20;
    position: relative;
}
.main-right {
    flex: 9 20;
    position: relative;
    overflow: hidden;
}

.vertical-line {
    position: relative;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
}