footer {
  height: 200px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.footer-fixed-width {
  max-width: 800px;
  margin: 0 auto;
}

.horizontal-line {
  position: relative;
  top: 0;
  bottom: 0;
  height: 2px;
  background-color: black;
  width: 100%;
}

.footer-inline-display {
  display: flex;
  align-items: center;
}

.footer-spacer {
  flex: 1;
  border: black;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px;
  border-style: dotted;
  height: 10px;
  margin: 0px 10px;
}