.Header {
    width: 100%;
    background-color: #D9CCC3;
    display: flex;
    height: 200px;
}

.Header-Small {
    height: 140px;
}

.Title {
    font-family: 'UnifrakturMaguntia', serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: calc(min(68px,5.5vw));
    margin: 16px;
}

.Title-Small {
    font-size: 51px;
}

.Header-Left {
    flex: 11 20;
    position: relative;
}

.Header-Spacing {
    flex: 1;
    height: 100%;
}

.Header-Right {
    flex: 9 20;
    position: relative;
    overflow: hidden;
}

.Vertical-Line {
    position: relative;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
    height: 100%;
}

.Horizontal-Line {
    position: relative;
    top: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
    width: 100%;
}

.Subtitle-Box {
    position: absolute;
    right: 20px;
    top: 90px;
}

.Header-Subtitle {
    color: #7F201A;
    text-align: right;
    width: 100%;
    display: block;
    font-weight: bold;
}

.Header-Subtitle.Top {
    font-size: calc(min(32px, 2.5vw));
}

.Header-Subtitle.Bottom {
    font-size: calc(min(26px, 2vw));
}

.Header-Nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Header-Nav-Under {
    bottom: unset;
    top: 100%;
}

.Generic-Menu-Container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.Generic-Menu-Row {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.Menu-Button {
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    user-select: none;
}
.Menu-Button a {
    color: black;
}

.Menu-Button:not(:last-child) {
    margin-left: 10px;
}