.language-dropdown {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: bold;
    user-select: none;
}

.dropdown-btn:hover {
    
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    background-color: #D9CCC3;
}

.dropdown-content div {
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content div:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.material-icons {
    font-family: 'Material Icons'; /* Ensure Material Icons font is loaded */
    font-size: 18px;
    margin-left: 5px;
}
  