.breadcrumb-container {
    background-color: black;
    box-shadow: #3100007a 0 0 7px 0px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    width: fit-content;
    flex-wrap: nowrap;
    z-index: 5;
}

.breadcrumb-under {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
}

.breadcrumb-container > * {
    color: white;
    text-decoration: none;
}
  
a.breadcrumb-link {
    text-decoration: none;
    text-wrap: nowrap;
}

a.breadcrumb-link:hover {
    text-decoration: underline;
}
  
.breadcrumb-link:last-child {
    margin-right: 0;
}
  
.breadcrumb-separator {
    margin: 0px 15px;
    user-select: none;
}



.breadcrumb-container-style2 {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: nowrap;
}

.breadcrumb-container-style3 {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: nowrap;
}

.breadcrumb-container-style2 > *, .breadcrumb-container-style3 > * {
    color: black;
    text-decoration: none;
}