.carousel-container {
    background-color: #D9CCC3;
    flex-grow: 1;
    padding-top: 5.5px;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    white-space: nowrap;
    animation: scroll var(--animation-duration) linear infinite;
}
  
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--translateX))); }
}
  
.carousel-container::before,
.carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Adjust the width of the gradient */
    background: linear-gradient(to right, #D9CCC3FF, #D9CCC300);
    z-index: 1;
}
  
.carousel-container::after {
    right: 0;
    background: linear-gradient(to left, #D9CCC3FF, #D9CCC300);
}
  
.carousel-container::before {
    background: linear-gradient(to right, #D9CCC3FF, #D9CCC300);
}